<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>DIVIDE - @Page.Title</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Dividestyle.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/modernizr-2.5.3.js"></script>
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>

        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript">
            // This identifies your website in the createToken call below
            Stripe.setPublishableKey('pk_test_czwzkTp2tactuLOEOqbMTRzG');
            // to be: enter own key

        var stripeResponseHandler = function(status, response) {
            var $form = $('#payment-form');

            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').text(response.error.message);
                $form.find('button').prop('disabled', false);
            } else {
                // token contains id, last4, and card type
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                // and submit
                $form.get(0).submit();
            }
        };
 
        jQuery(function($) {
            $('#payment-form').submit(function(event) {
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            });
        });
        </script>


    </head>
    <body>
        <div id="page">
            <header id="header_left">
                <div class="navButton">
                    <a href="http://divide.dk/1" target="_blank">
                        <img src="img/textlogo.png" alt="Logo" />
                    </a>
                </div>
                <div class="navButton">
                    <a href="/Buy" target="_blank">
                        <img src="img/buyButton.png" alt="Buy" />
                    </a>
                </div>
                <div class="navButton">
                    <a href="http://www.facebook.com/sharer.php?u=http://divide.dk" target="_blank">
                        <img src="img/shareButton.png" alt="Del via facebook" />
                    </a>
                </div>
                <div class="navButton">
                    <a href="/Contact" target="_blank">
                        <img src="img/contactButton.png" alt="About" />
                    </a>
                </div>
            </header>    
            
            <div id="maincontent">
                @RenderBody()
            </div>

            <div id="header_right">
                <div class="fb-like-box" data-href="https://www.facebook.com/Divide.dk" data-show-faces="true" data-stream="true" data-header="true"></div>
            </div>
            
            <footer id="footer_block">
                <p>&copy;@DateTime.Now.Year - DIVIDE</p>
                <p>&copy; Førsteårsprojekt - prototype 1.0.0</p>
            </footer>
        </div>
    </body>
</html>